#form_title {
    font-family: 'Sen', sans-serif;
}
body{
    background-color: #121212;
    color: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #C2927B !important;
    border-color: #C2927B !important;
}

.card-body{
    background-color: #1D1D1D;
}

.card{
    border-color: #757575;
}

input{
    background-color:  #1D1D1D !important;
    border-color: #757575 !important;
    color: white  !important;
}