body{
    font-size: 14px;
    line-height: 18px;
}

#post_profile_image{
    width: 32px; 
    height: 100%;
    object-fit: cover;
    display:block;
}

#post_profile_image_div{
    width: 32px;
    height: 32px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

#post_image{
    width: 100%; 
    height: 400px;
    object-fit: cover;
    display:block;
}